#image-list {
    display: flex;
    flex-flow: row wrap;
}

.image-title {
    font-size: 14px;
    font-weight: bold;
}

.image-container {
    display: flex;
    flex-direction: column;
    margin: 15px;
    border: 2px solid #F2F2F2;
    padding: 30px;
    border-radius: 16px;
    width: 250px;
    height: 420px;
}