<div id="localidade">
    <div class="dropdown-container" onclick="show_or_hide_dropdown('dropdown')">
        <div class="dropdown-title-container">
            <input id="selected-item-uf" placeholder="Estado">
        </div>
        <div id="dropdown" style="display: none;"></div>
    </div>
    <div class="dropdown-container" onclick="show_or_hide_dropdown('dropdown-city')">
        <div class="dropdown-title-container">
            <input id="selected-item-city" placeholder="Cidade">
        </div>
        <div id="dropdown-city" style="display: none;"></div>
    </div>                       
    <button id="search-button" onclick="find()">Pesquisar</button>
</div>